
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

:root{
    --texuirana:"Inter", sans-serif;;
    --black:#000;
    --white:#ffff;
}
a{
    text-decoration: none;
    color: inherit;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--texuirana);
}
.sticky{
    transform: translateY(-10%);
    z-index: 111;
    width: 100%;
    margin: 0;
    position: fixed;
    background-color: #000;
}
button{
    font-family: var(--texuirana);
    border: none;
    outline: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.nav-logo img{
    width: 100px;
}
nav{
    padding-inline: 5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc60;
    transition: all 0.2 ease-in;
}
.nav-elements{
    color: var(--white);
    font-weight: 600;
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
}
.dashboard-btn button{
    border: none;
    background-color: var(--black);
    padding: 1.6rem;
    outline: none;
    border: 1px solid #ccc;
    font-weight: 700;
    transition: all 0.2s ease-in;
    color: var(--white);
    border-radius: 3.2rem;

}
.dashboard-btn button:hover{
    border: 1px solid var(--black);
    transform: scale(1.2);
    border-radius: 0rem;
    cursor: pointer;
    background-color: var(--black);
}
.diamond-container{
  
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.first-diamond{
    font-size: 1.8rem;
    display: flex;
    gap: 2rem;
    border: 1px solid black;

    padding: 2rem;
}
.second-diamond{
    padding: 2rem;
    border: 1px solid black;

    gap: 2rem;
    font-size: 1.8rem;
    display: flex;
}
.jcb-hero h1{
    width: 40%;
    font-size: 4rem;
    color: var(--white);
}
.dine-txt{
    font-size: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.jcb-hero p{
    color: #fff;;
    font-size: 1.8rem;
    width: 40%;
}
.hamburger{
    display: none;
}
.jcb-container{
    padding-block: 1rem;
    background-size: 100% 100%;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(
        '/Hackathon-Pcte/images/jcb3.jpg');
    background-repeat: no-repeat;
    height: 100vh;

}
.jcb-hero{
    padding: 10rem 5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.jcb-hero button{
    margin-top: 2rem;
   transform: translateX(-200px);
    padding: 1.6rem;
    cursor: pointer;
    background-color: transparent;
    border:  1px solid var(--white);
    color:var(--white);
    border-radius: 3.2rem;
    width: 200px;
    font-size: 2rem;
    font-weight: 800;   
    transition: all 0.2s ease-in;
}
.jcb-hero button:hover{
    border:  none;
    color: var(--white);
    background-color: var(--black);

}
.images-grid{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 25rem;
    align-items: center;
}
.images-grid2{
    display: flex;
    gap: 1rem;
}
.card-person {
    margin-bottom: 2rem;
    display: flex;
}
.card-person h2{
    font-size: 3rem;
}
.jcb-hero-tagline{
    line-height: 2.7rem;
}
.house2{
    margin-left: 22rem;
    width: 500px;
    height: 300px;
    border-radius: 32px;
    margin-block: 1rem;

}
.house3{
    margin-right: 25rem;
    border-radius: 32px;
    width: 520px;
    height: 630px;
}
.house1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.house1:hover{
   filter: grayscale(60%);
   cursor: pointer;
    }
    .house1:hover::after{
        content: "Architect";
        background-color: black;
        position: absolute;
        z-index: 2;
    }
    .house2:hover{
   cursor: pointer;
        filter: grayscale(60%);
         }
         .house3:hover{
   cursor: pointer;

            filter: grayscale(60%);
             }
         

.grid-card-txt{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .card{
    margin: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
    transition: all 0.2s ease-in;
  }
  .card:hover{
    border: 1px solid var(--black);
    transform: scale(1.1);
  }
.card p{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    text-align: center;
}

.house1{
    border-radius: 3rem;
    width: 530px;
    height: 300px;

}


/*Testimonial*/
.review-heading{
    text-align: center;
    font-size: 4rem;
}
.reviews-section{
    margin-top: 10rem;
}
.wrapper {
	position: relative;
}
.wrapper i {
	top: 50%;
	height: 50px;
	width: 50px;
	cursor: pointer;
	font-size: 1.25rem;
	position: absolute;
	text-align: center;
	line-height: 50px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translateY(-50%);
	transition: transform 0.1s linear;
}
.wrapper i:active {
	transform: translateY(-50%) scale(0.85);
}

.wrapper i:last-child {
	right: 12px;
}
.wrapper .carousel {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc((100% / 3) - 12px);
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	gap: 16px;
	border-radius: 8px;
	scroll-behavior: smooth;
	scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
	display: none;
}
.carousel.no-transition {
	scroll-behavior: auto;
}
.carousel.dragging {
	scroll-snap-type: none;
	scroll-behavior: auto;
}
.carousel.dragging .card {
	cursor: grab;
	user-select: none;
}
.carousel :where(.card, .img) {
	display: flex;
	justify-content: center;
	align-items: center;
}
.carousel .card {
	scroll-snap-align: start;
	height: 252px;
	list-style: none;
	background: #fff;
	cursor: pointer;
	padding-bottom: 15px;
	flex-direction: column;
	border-radius: 8px;
}
.carousel .card .img {
	background: #8b53ff;
	height: 148px;
	width: 148px;
	border-radius: 50%;
}
.card .img img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	object-fit: cover;
	border: 4px solid #fff;
}
.carousel .card h2 {
	font-weight: 500;
	font-size: 1.56rem;
	margin: 30px 0 5px;
}
.carousel .card span {
	color: #6a6d78;
	font-size: 1.31rem;
}
/*Footer*/

footer{
    margin-top: 5rem;
    display: flex;
    padding-block: 4rem;
    padding-inline-start: 1rem;
    background-color: var(--black);
    justify-content: space-between;
    align-items: center;
}
.links{
    color: var(--white);
}
.links h2{
    font-size: 2.7rem;
}
.links p{
    line-height: 3rem;
    font-size: 1.8rem;
}
.sub-footer{
    border-top: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--black);
}
input[type="text"]{
    margin-top: 1rem;
    border: none;
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    padding: 1.6rem;
    color: var(--white);
}
.footer-elements{
    transform: translateX(100%);
    color: var(--white);
}
footer h2{
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.footer-elements p{
    line-height: 2.8rem;
    font-size: 1.8rem;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.foot-logo img{
    width: 200px;
}
.newsletter{
   transform: translateX(100%);
    color: var(--white);

}
.newsletter p{
    font-size: 1.6rem;
    width: 90%;
    line-height: 2.4rem;
}
.social-handles{
    margin-top: 1rem;
    gap: 2rem;
    display: flex;
}
.social-handles img{
    width: 25px;
}
.newsletter{
    width: 50%;
}
@media screen and (max-width: 1030px) {
	.wrapper .carousel {
		grid-auto-columns: calc((100% / 2) - 9px);
	}
    .house1{
        width: 100%;
        height: 100%;
    }
    .house2{
        height: 100%;
        width: 100%;
        margin-left: 0rem;
    }
    .house3{
        height: 100%;
        width: 100%;
        margin-right: 0rem;
    }
    .images-grid{
        flex-direction: column;
        padding: 2rem;
    }
    .images-grid2{
        flex-direction: column;
    }
    .jcb-hero button{
        transform: translate(0);
    }
}

@media screen and (max-width: 600px) {
	.wrapper .carousel {
		grid-auto-columns: 100%;
	}
}

@media screen and (max-width:768px) {
    html{
        font-size: 55%;
    }
    
    .nav-elements.hide{
        display: none;
      
    }
    .jcb-container{
        background-size: cover;
    }
    .nav{
        position: relative;
    }
    .nav-elements{
        padding: 2rem;
        top: 80%;
        right: 40%;
        position: absolute;
        background-color: black;
       height: fit-content;
        flex-direction: column;
    }
    .hamburger{
        display: flex;
    }
    .jcb-hero{
        padding: 3rem;
        align-items: flex-start;
    }
    .jcb-hero h1{
        width: 100%;

    }
    .jcb-hero p{
        width: 100%;
    }
  
    footer{
        flex-direction: column;
        gap: 4rem;
    }
    .footer-elements{
        transform: translate(0);
    }
    .newsletter{
        transform: translateX(50%);
    }
}